@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Be Vietnam Pro";
  background-image: url("../img/bg-tablet-pattern.svg");
  color: #242e52;
}

/* CSS - HEADER */

header {
  padding: 20px;
  display: flex;

  justify-content: space-between;
}
nav {
  display: none;
}
.logo img {
  width: 100px;
  height: 16px;
}
.getstarted {
  display: none;
}

/* CSS - MAIN */

.grafico img {
  width: 100%;
}
h2 {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 0.7rem;
  line-height: 1.25;
}
.texto {
  padding: 20px;
  text-align: center;
}
.texto p {
  line-height: 1.8;
}
.getstarted2 {
  display: flex;
  justify-content: center;
}
.getstarted2 button {
  border-radius: 50px;
  background-color: #f3603b;
  border: none;
  width: 40%;
  color: white;
  font-size: 13.18px;
  align-content: center;
  padding: 1rem 2rem;
  margin-top: 0.95rem;
  margin-bottom: 4.5rem;
  font-weight: bold;
}
h3 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0.7rem;
  line-height: 1.25;
}
.texto3 {
  text-align: center;
}
.button-number {
  border-radius: 50px;
  background-color: #f3603b;
  border: none;
  width: 20.5%;
  color: white;
  padding: 0.55rem;
  font-size: 16px;
  font-weight: bold;
  align-content: center;
}

.numeracion {
  display: flex;
  flex-direction: row;
  background-color: #fbe9e5;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

h4 {
  margin-left: 8px;
  margin-top: 8px;
}

article p {
  line-height: 1.8;
  padding: 20px;
  text-align: left;
}

.texto div h3 {
  margin-bottom: 60px;
  margin-top: 25px;
}

/* CSS - FOOTER */

footer {
  background-color: #f3613c;
  color: white;
}

.negro {
  background-color: #1e1e26;
}
footer section div p {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  padding-top: 5rem;
}
.getstarted3 {
  display: flex;
  justify-content: center;
}
.getstarted3 button {
  border-radius: 50px;
  background-color: white;
  border: none;
  width: 40%;
  color: #f3603b;
  font-size: 13.18px;
  align-content: center;
  padding: 1rem 2rem;
  margin-top: 1.5rem;
  margin-bottom: 4.5rem;
  font-weight: bold;
}

.comunicaciones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3rem 1.5rem;
}

.GO {
  border-radius: 50px;
  background-color: #f3603b;
  border: none;
  width: 25%;
  color: white;
  padding: 1rem 1rem;
  font-size: 12px;
  font-weight: bold;
  align-content: center;
}

input#email {
  padding: 1rem 1.5rem;
  border: 1px solid #f6f6f6;
  border-radius: 50px;
  background-color: #f6f6f6;
}

.comunicaciones2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.comunicaciones2 ul li {
  list-style: none;
}
.comunicaciones2 ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  line-height: 2.5;
}
.comunicaciones3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2.5rem 1.5rem;
}
.copy {
  color: grey;
  text-align: center;
  padding: 2rem;
}
.logofinal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem 1rem;
}

a img {
  width: 2rem;
}

/* CSS - DESKTOP */

@media (min-width: 375px) {
  body {
    padding: 5rem;
  }

  /* CSS - header */

  .logo {
    display: flex;
    align-items: center;
  }

  .getstarted {
    display: flex;
    justify-content: space-between;
  }

  .getstarted button {
    border-radius: 50px;
    padding: 0.75rem 2rem;
    background-color: #f3603b;
    border: none;
    width: 100%;
    color: white;
    font-size: 13.18px;
    font-weight: bold;
  }
  nav {
    display: flex;
    justify-content: space-between;
  }
  a {
    padding: 1rem;
  }
  .navbar a {
    text-decoration: none;
    font-weight: bold;
  }
  .navbar {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .menu-hamburguesa {
    display: none;
  }
  /* CSS - main */
  .section1 {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    gap: 0.01;
  }
  .desktop {
    position: relative;
  }
  section .getstarted2 {
    position: absolute;
    left: 1rem;
    bottom: 7.5rem;
  }
  .getstarted2 button {
    width: 100%;
    padding: 1.25rem 3rem;
    box-shadow: 0px 4px 8px 0px #f2613b80;
  }
  .grafico {
    width: 50vw;
  }
  .texto {
    width: 50vw;
    padding-right: 3rem;
    text-align: left;
  }
  .texto h2 {
    font-size: 58px;
  }
  .texto p {
    font-size: 16.56px;
  }
  .texto h3 {
    font-size: 58px;
  }

  .main2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  section .texto {
    width: 50%;
  }
  section .texto_izquierdo {
    width: 50%;
    padding-top: 20px;
    text-align: left;
  }
  .numeracion {
    background-color: rgba(0, 0, 0, 0);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .button-number {
    width: 10%;
    padding: 0.8rem;
  }
  .texto3 div h3 {
    text-align: center;
    font-size: 58px;
    margin-bottom: 8rem;
    margin-top: 5rem;
  }
  .final-main {
    display: flex;
    flex-direction: row;
  }
  .final-main article {
    text-align: center;
    background-color: #fafafa;
    position: relative;
  }
  .final-main img {
    position: absolute;
    bottom: 11.2rem;
    left: 13.5rem;
  }
  .final-main h5 {
    padding-top: 6rem;
  }
  .final-main p {
    text-align: center;
    padding-top: 2rem;
  }
}
